{
    "openapi": "3.0.1",
    "info": {
      "title": "InsureMO Insurance Quotation API",
      "version": "1.0.0",
      "description": "APIs for obtaining insurance quotations across multiple insurance products: Car, Home, and Travel Insurance."
    },
    "servers": [
      {
        "description": "Production server",
        "url": "https://insuremo-insurance-tools.graysand-b1976283.westus2.azurecontainerapps.io"
      }
    ],
    "paths": {
      "/v1/quotation/car": {
        "post": {
          "operationId": "getCarQuotation",
          "summary": "Get a car insurance quotation",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarQuotationRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Car insurance quotation response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CarQuotationResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing API key",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "Unauthorized: Invalid or missing API key"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          },
          "security": [
                      { "apiKeyHeader": [] }
                  ]
        }
      },
      "/v1/quotation/home": {
        "post": {
          "operationId": "getHomeQuotation",
          "summary": "Get a home insurance quotation",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeQuotationRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Home insurance quotation response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HomeQuotationResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing API key",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "Unauthorized: Invalid or missing API key"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          },
          "security": [
                      { "apiKeyHeader": [] }
                  ]
        }
      },
      "/v1/quotation/travel": {
        "post": {
          "operationId": "getTravelQuotation",
          "summary": "Get a travel insurance quotation",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelQuotationRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Travel insurance quotation response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TravelQuotationResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing API key",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "Unauthorized: Invalid or missing API key"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          },
          "security": [
                      { "apiKeyHeader": [] }
                  ]
        }
      }
    },
    "components": {
      "securitySchemes": {
        "apiKeyHeader": {
          "type": "apiKey",
          "name": "X-API-KEY",
          "in": "header"
        }
      },
      "schemas": {
        "ErrorResponse": {
          "type": "object",
          "properties": {
            "error": {
              "type": "string",
              "example": "Invalid input data"
            },
            "errorCode": {
              "type": "string",
              "example": "INVALID_REQUEST"
            }
          }
        },
        "CarQuotationRequest": {
          "type": "object",
          "required": [
            "policy_startDate",
            "policy_endDate",
            "Driver_age",
            "Driver_license_expiry_date",
            "Driver_License_Number",
            "Driver_Name",
            "OwnDamageBasic_Taken",
            "Vehicle_Market_Price",
            "PersonalAccidentToOwnerDriver_Taken",
            "ThirdPartyLiability_Taken",
            "ThirdPartyPropertyDamage_Taken",
            "Vehicle_BodyType",
            "Vehicle_ChassisNumber",
            "Vehicle_engineCapacity",
            "Vehicle_EngineNumber",
            "Vechicle_FuelType",
            "Vechicle_LicencedCarryCapacity",
            "Vehicle_Make",
            "Vehicle_Model",
            "Vehicle_Registration_Number",
            "Vehicle_Variant",
            "Vehicle_ManufactureYear"
          ],
          "properties": {
            "policy_startDate": {
              "type": "string",
              "format": "date",
              "description": "Policy start date (YYYY-MM-DD)"
            },
            "policy_endDate": {
              "type": "string",
              "format": "date",
              "description": "Policy end date (YYYY-MM-DD)"
            },
            "Driver_age": {
              "type": "integer",
              "description": "Age of the driver"
            },
            "Driver_license_expiry_date": {
              "type": "string",
              "format": "date",
              "description": "Driver's license expiry date (YYYY-MM-DD)"
            },
            "Driver_License_Number": {
              "type": "string",
              "description": "Driver's license number"
            },
            "Driver_Name": {
              "type": "string",
              "description": "Name of the driver"
            },
            "OwnDamageBasic_Taken": {
              "type": "boolean",
              "description": "Whether Own Damage Basic coverage is taken"
            },
            "Vehicle_Market_Price": {
              "type": "number",
              "description": "Market price of the vehicle"
            },
            "PersonalAccidentToOwnerDriver_Taken": {
              "type": "boolean",
              "description": "Whether Personal Accident to Owner Driver coverage is taken"
            },
            "ThirdPartyLiability_Taken": {
              "type": "boolean",
              "description": "Whether Third Party Liability coverage is taken"
            },
            "ThirdPartyPropertyDamage_Taken": {
              "type": "boolean",
              "description": "Whether Third Party Property Damage coverage is taken"
            },
            "Vehicle_BodyType": {
              "type": "string",
              "description": "Body type of the vehicle",
              "enum": [
                "Lorry",
                "Wagon",
                "Imported Suv",
                "Coupe",
                "Sports",
                "Suv",
                "Imported Sedan",
                "Pickup",
                "Cab",
                "Roadster",
                "Van",
                "Convertible",
                "Saloon",
                "Hatchback",
                "Sedan"
              ]
            },
            "Vehicle_ChassisNumber": {
              "type": "string",
              "description": "Chassis number of the vehicle"
            },
            "Vehicle_engineCapacity": {
              "type": "integer",
              "description": "Engine capacity of the vehicle in cubic centimeters (cc)"
            },
            "Vehicle_EngineNumber": {
              "type": "string",
              "description": "Engine number of the vehicle"
            },
            "Vechicle_FuelType": {
              "type": "string",
              "description": "Fuel type of the vehicle",
              "enum": [
                "Bi-Fuel - CNG",
                "Battery",
                "Bi-Fuel - Other",
                "Others",
                "Petrol",
                "Diesel",
                "Bi-Fuel - LPG"
              ]
            },
            "Vechicle_LicencedCarryCapacity": {
              "type": "integer",
              "description": "Licensed carrying capacity of the vehicle"
            },
            "Vehicle_Make": {
              "type": "string",
              "description": "Make of the vehicle"
            },
            "Vehicle_Model": {
              "type": "string",
              "description": "Model of the vehicle"
            },
            "Vehicle_Registration_Number": {
              "type": "string",
              "description": "Registration number of the vehicle"
            },
            "Vehicle_Variant": {
              "type": "string",
              "description": "Variant of the vehicle"
            },
            "Vehicle_ManufactureYear": {
              "type": "string",
              "format": "date",
              "description": "Year of manufacture of the vehicle (YYYY-MM-DD)"
            }
          }
        },
        "CarQuotationResponse": {
          "type": "object",
          "required": [
            "driver",
            "vehicle",
            "policy_startDate",
            "policy_endDate",
            "coverages"
          ],
          "properties": {
            "driver": {
              "type": "object",
              "required": [
                "Driver_age",
                "Driver_license_expiry_date",
                "Driver_License_Number",
                "Driver_Name"
              ],
              "properties": {
                "Driver_age": {
                  "type": "integer"
                },
                "Driver_license_expiry_date": {
                  "type": "string",
                  "format": "date"
                },
                "Driver_License_Number": {
                  "type": "string"
                },
                "Driver_Name": {
                  "type": "string"
                }
              }
            },
            "vehicle": {
              "type": "object",
              "required": [
                "Vehicle_Market_Price",
                "Vehicle_BodyType",
                "Vehicle_ChassisNumber",
                "Vehicle_engineCapacity",
                "Vehicle_EngineNumber",
                "Vechicle_FuelType",
                "Vechicle_LicencedCarryCapacity",
                "Vehicle_Make",
                "Vehicle_Model",
                "Vehicle_Registration_Number",
                "Vehicle_Variant",
                "Vehicle_ManufactureYear"
              ],
              "properties": {
                "Vehicle_Market_Price": {
                  "type": "number"
                },
                "Vehicle_BodyType": {
                  "type": "string",
                  "enum": [
                    "Lorry",
                    "Wagon",
                    "Imported Suv",
                    "Coupe",
                    "Sports",
                    "Suv",
                    "Imported Sedan",
                    "Pickup",
                    "Cab",
                    "Roadster",
                    "Van",
                    "Convertible",
                    "Saloon",
                    "Hatchback",
                    "Sedan"
                  ]
                },
                "Vehicle_ChassisNumber": {
                  "type": "string"
                },
                "Vehicle_engineCapacity": {
                  "type": "integer"
                },
                "Vehicle_EngineNumber": {
                  "type": "string"
                },
                "Vechicle_FuelType": {
                  "type": "string",
                  "enum": [
                    "Bi-Fuel - CNG",
                    "Battery",
                    "Bi-Fuel - Other",
                    "Others",
                    "Petrol",
                    "Diesel",
                    "Bi-Fuel - LPG"
                  ]
                },
                "Vechicle_LicencedCarryCapacity": {
                  "type": "integer"
                },
                "Vehicle_Make": {
                  "type": "string"
                },
                "Vehicle_Model": {
                  "type": "string"
                },
                "Vehicle_Registration_Number": {
                  "type": "string"
                },
                "Vehicle_Variant": {
                  "type": "string"
                },
                "Vehicle_ManufactureYear": {
                  "type": "string",
                  "format": "date"
                }
              }
            },
            "policy_startDate": {
              "type": "string",
              "format": "date"
            },
            "policy_endDate": {
              "type": "string",
              "format": "date"
            },
            "coverages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "coverageName": {
                    "type": "string"
                  },
                  "Premium": {
                    "type": "number"
                  },
                  "tax": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "HomeQuotationRequest": {
          "type": "object",
          "required": [
            "policy_startDate",
            "policy_endDate",
            "AlternateAccommodation_Taken",
            "RentForAlternateAccommodationLimit",
            "ageOfBuilding",
            "buildingConstruction",
            "buildingType",
            "builtUpAreaInSqFt",
            "totalBuildingArea",
            "KeysAndLocksReplacement_Taken",
            "WhatIsTheTotalValueOfYourSpecifiedContents",
            "ContentsInStorage_Taken",
            "PropertySumInsured",
            "LegalLiabilityAsOwner_Taken",
            "TenantsLegalLiability_Taken"
          ],
          "properties": {
            "policy_startDate": {
              "type": "string",
              "format": "date",
              "description": "Policy start date (YYYY-MM-DD)"
            },
            "policy_endDate": {
              "type": "string",
              "format": "date",
              "description": "Policy end date (YYYY-MM-DD)"
            },
            "AlternateAccommodation_Taken": {
              "type": "boolean",
              "description": "Whether alternate accommodation coverage is taken"
            },
            "RentForAlternateAccommodationLimit": {
              "type": "number",
              "description": "Limit for rent for alternate accommodation"
            },
            "ageOfBuilding": {
              "type": "integer",
              "description": "Age of the building",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            },
            "buildingConstruction": {
              "type": "string",
              "description": "Type of building construction",
              "enum": [
                "Other/Mixed(Non Combustible)",
                "Concrete Block",
                "Reinforced Concrete",
                "Steel/RSJ's",
                "Tile",
                "Reinforced Masonry",
                "Masonry/Brick",
                "Timber",
                "Other/Mixed (Full Partial Combustible)"
              ]
            },
            "buildingType": {
              "type": "string",
              "description": "Type of building",
              "enum": [
                "Bungalow",
                "Farm House",
                "Floor",
                "Row House",
                "Flat"
              ]
            },
            "builtUpAreaInSqFt": {
              "type": "integer",
              "description": "Built up area in square feet"
            },
            "totalBuildingArea": {
              "type": "integer",
              "description": "Total building area in square feet"
            },
            "KeysAndLocksReplacement_Taken": {
              "type": "boolean",
              "description": "Whether keys and locks replacement coverage is taken"
            },
            "WhatIsTheTotalValueOfYourSpecifiedContents": {
              "type": "number",
              "description": "Total value of specified contents"
            },
            "ContentsInStorage_Taken": {
              "type": "boolean",
              "description": "Whether contents in storage coverage is taken"
            },
            "PropertySumInsured": {
              "type": "number",
              "description": "Property sum insured"
            },
            "LegalLiabilityAsOwner_Taken": {
              "type": "boolean",
              "description": "Whether legal liability as owner coverage is taken"
            },
            "TenantsLegalLiability_Taken": {
              "type": "boolean",
              "description": "Whether tenant's legal liability coverage is taken"
            }
          }
        },
        "HomeQuotationResponse": {
          "type": "object",
          "required": [
            "property",
            "policy_startDate",
            "policy_endDate",
            "coverages"
          ],
          "properties": {
            "property": {
              "type": "object",
              "required": [
                "ageOfBuilding",
                "buildingConstruction",
                "buildingType",
                "builtUpAreaInSqFt",
                "totalBuildingArea",
                "PropertySumInsured"
              ],
              "properties": {
                "ageOfBuilding": {
                  "type": "integer",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5
                  ]
                },
                "buildingConstruction": {
                  "type": "string",
                  "enum": [
                    "Other/Mixed(Non Combustible)",
                    "Concrete Block",
                    "Reinforced Concrete",
                    "Steel/RSJ's",
                    "Tile",
                    "Reinforced Masonry",
                    "Masonry/Brick",
                    "Timber",
                    "Other/Mixed (Full Partial Combustible)"
                  ]
                },
                "buildingType": {
                  "type": "string",
                  "enum": [
                    "Bungalow",
                    "Farm House",
                    "Floor",
                    "Row House",
                    "Flat"
                  ]
                },
                "builtUpAreaInSqFt": {
                  "type": "integer"
                },
                "totalBuildingArea": {
                  "type": "integer"
                },
                "PropertySumInsured": {
                  "type": "number"
                }
              }
            },
            "policy_startDate": {
              "type": "string",
              "format": "date"
            },
            "policy_endDate": {
              "type": "string",
              "format": "date"
            },
            "coverages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "coverageName": {
                    "type": "string"
                  },
                  "Premium": {
                    "type": "number"
                  },
                  "tax": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "TravelQuotationRequest": {
          "type": "object",
          "required": [
            "policy_startDate",
            "policy_endDate",
            "CountryOfVisit",
            "TotalNoOfPersonsTravelling",
            "InsuredAge",
            "InsuredGender",
            "InsuredSName",
            "TripCancellation_Taken",
            "FlightDelay_Taken",
            "TripDelay_Taken",
            "PersonalLiabilityBenefitExcess",
            "LossOfCheckedBaggageLimit",
            "DelayOfCheckedBaggageLimit",
            "DeclinedInsurance",
            "ClaimsHistory",
            "Travel_startDate",
            "Travel_endDate",
            "AccidentalDeathLimit",
            "AccidentalDeath_Taken"
          ],
          "properties": {
            "policy_startDate": {
              "type": "string",
              "format": "date",
              "description": "Policy start date (YYYY-MM-DD)"
            },
            "policy_endDate": {
              "type": "string",
              "format": "date",
              "description": "Policy end date (YYYY-MM-DD)"
            },
            "CountryOfVisit": {
              "type": "string",
              "description": "Country of visit",
              "enum": [
                "India",
                "Heard & McDonald Is.(AU)",
                "Sao Tome and Principe",
                "Lebanon",
                "Morocco",
                "Cambodia",
                "Argentina",
                "Tanzania, United Rep. of",
                "Togo",
                "Canada",
                "Holy See (Vatican)",
                "Greenland",
                "Sri Lanka (ex-Ceilan)",
                "Barbados",
                "Fiji",
                "Niger",
                "Eritrea",
                "Guam",
                "S Vincent & Grenadines",
                "Singapore",
                "Bhutan",
                "Andorra",
                "Mayotte (FR)",
                "Zambia",
                "Uganda",
                "Venezuela",
                "Macedonia, TFYR",
                "Malawi",
                "Marshall Islands",
                "Falkland Islands (Malvinas)",
                "Micronesia, Fed. States of",
                "Palau",
                "Hong Kong, (China)",
                "Yemen",
                "Costa Rica",
                "Hungary",
                "South Korea",
                "Angola",
                "Iran, Islamic Republic of",
                "French Guiana",
                "Bermuda",
                "S.George & S.Sandwich",
                "Antigua & Barbuda",
                "Egypt",
                "Lithuania",
                "San Marino",
                "Gibraltar",
                "Kazakhstan",
                "Qatar",
                "Viet Nam",
                "Wallis and Futuna",
                "Guinea-Bissau",
                "Latvia",
                "Turkmenistan",
                "Trinidad & Tobago",
                "Paraguay",
                "Tokelau",
                "New Caledonia",
                "Rwanda",
                "Macao, (China)",
                "Gambia, the",
                "Ethiopia",
                "Jamaica",
                "Tajikistan",
                "Colombia",
                "Tunisia",
                "Congo, Dem. Rep. of the",
                "Slovenia",
                "Palestinian Territory",
                "Antilles, Netherlands",
                "Slovakia",
                "Peru",
                "Croatia",
                "British Virgin Islands",
                "Portugal",
                "Ghana",
                "Senegal",
                "Denmark",
                "Kuwait",
                "Lesotho",
                "Turks and Caicos Islands",
                "Svalbard & Jan Mayen Is.",
                "Central America",
                "Azerbaijan",
                "Brunei Darussalam",
                "Bangladesh",
                "Botswana",
                "Bouvet Island",
                "Moldova, Republic of",
                "North Korea",
                "Myanmar (ex-Burma)",
                "Uruguay",
                "United Kingdom",
                "Finland",
                "Turkey",
                "Uzbekistan",
                "Christmas Island",
                "Cape Verde",
                "Cook Islands",
                "Bahrain",
                "Mozambique",
                "Austria",
                "Luxembourg",
                "Zimbabwe",
                "Monaco",
                "Tuvalu",
                "Gabon",
                "Caribbean, the",
                "Netherlands",
                "Ivory Coast (Cote d'Ivoire)",
                "Dominican Republic",
                "Arabia, Saudi",
                "Haiti",
                "Saint Helena (UK)",
                "Burkina Faso",
                "Saint Lucia",
                "Saint Martin (FR)",
                "Northern Mariana Islands",
                "Anywhere in India",
                "Guatemala",
                "Pakistan",
                "Tonga",
                "Congo",
                "Honduras",
                "South Africa",
                "Brazil",
                "Samoa",
                "Spain",
                "Vanuatu",
                "British Indian Ocean T.",
                "Liberia",
                "Jordan",
                "Taiwan",
                "Bosnia and Herzegovina",
                "Belize",
                "Yugoslavia",
                "Cayman Islands",
                "Comoros",
                "Puerto Rico",
                "Malta",
                "New Zealand",
                "Burundi",
                "Thailand",
                "Nigeria",
                "Martinique (FR)",
                "Saint Kitts and Nevis",
                "Libyan Arab Jamahiriya",
                "French Polynesia",
                "Guyana",
                "United States",
                "Montenegro",
                "Belarus",
                "Sudan",
                "El Salvador",
                "Swaziland",
                "Jersey",
                "Kiribati",
                "Germany",
                "Pitcairn Island",
                "Afghanistan",
                "French Southern Terr.",
                "Kyrgyzstan",
                "Japan",
                "Armenia",
                "Mauritius",
                "Norfolk Island",
                "Guinea",
                "Guiana, French",
                "East Timor (Timor-Leste)",
                "Nicaragua",
                "Cote D'Ivoire",
                "Kosovo",
                "S Pierre & Miquelon (FR)",
                "Dominica",
                "Mongolia",
                "Cameroon",
                "Equatorial Guinea",
                "Guinea, Equatorial",
                "Panama",
                "Norway",
                "Estonia",
                "Ireland",
                "Serbia",
                "Russia (Russian Fed.)",
                "Sierra Leone",
                "Faroe Islands",
                "Papua New Guinea",
                "Antarctica",
                "Saint Barthelemy (FR)",
                "United Arab Emirates",
                "Poland",
                "Liechtenstein",
                "Philippines",
                "Israel",
                "Indonesia",
                "Benin",
                "Chad",
                "Czech Republic",
                "Timor-Leste (East Timor)",
                "Solomon Islands",
                "Oman",
                "Anguilla",
                "Bolivia",
                "Ukraine",
                "Suriname",
                "Italy",
                "Montserrat",
                "Djibouti",
                "Ecuador",
                "Akrotiri",
                "Georgia",
                "Cyprus",
                "Niue",
                "Bulgaria",
                "Albania",
                "Madagascar",
                "Namibia",
                "Bahamas, The",
                "Romania",
                "Nepal",
                "Iceland",
                "Central African Republic",
                "Maldives",
                "Aruba",
                "Netherlands Antilles",
                "Lao People's Democ. Rep.",
                "Algeria",
                "American Samoa",
                "Cuba",
                "Grenada",
                "Kenya",
                "Guernsey and Alderney",
                "Syrian Arab Republic",
                "Greece",
                "Australia",
                "France",
                "Mexico",
                "Switzerland",
                "Mauritania",
                "Seychelles",
                "Belgium",
                "China",
                "Mali",
                "Anywhere in World",
                "Malaysia",
                "Sweden",
                "Somalia",
                "Iraq",
                "Chile",
                "Cocos (Keeling) Islands",
                "Nauru",
                "Saudi Arabia"
              ]
            },
            "TotalNoOfPersonsTravelling": {
              "type": "integer",
              "description": "Total number of persons travelling"
            },
            "InsuredAge": {
              "type": "integer",
              "description": "Age of the insured traveller"
            },
            "InsuredGender": {
              "type": "string",
              "description": "Gender of the insured traveller",
              "enum": [
                "Female",
                "Male",
                "Transgender",
                "Bigender"
              ]
            },
            "InsuredSName": {
              "type": "string",
              "description": "Surname of the insured traveller"
            },
            "TripCancellationLimit": {
              "type": "number",
              "description": "Trip cancellation coverage limit",
              "enum": [
                10000,
                20000,
                30000,
                40000,
                50000
              ]
            },
            "TripCancellation_Taken": {
              "type": "boolean",
              "description": "Whether Trip Cancellation coverage is taken (true/false)"
            },
            "FlightDelayLimit": {
              "type": "number",
              "description": "Flight delay coverage limit",
              "enum": [
                10000,
                20000,
                30000,
                40000,
                50000
              ]
            },
            "FlightDelay_Taken": {
              "type": "boolean",
              "description": "Whether Flight Delay coverage is taken (true/false)"
            },
            "TripDelayLimit": {
              "type": "number",
              "description": "Trip delay coverage limit",
              "enum": [
                10000,
                20000,
                30000,
                40000,
                50000
              ]
            },
            "TripDelay_Taken": {
              "type": "boolean",
              "description": "Whether Trip Delay coverage is taken (true/false)"
            },
            "PersonalLiabilityBenefitExcess": {
              "type": "number",
              "description": "Personal liability benefit excess"
            },
            "LossOfCheckedBaggageLimit": {
              "type": "number",
              "description": "Loss of checked baggage coverage limit"
            },
            "DelayOfCheckedBaggageLimit": {
              "type": "number",
              "description": "Delay of checked baggage coverage limit"
            },
            "DeclinedInsurance": {
              "type": "string",
              "description": "Declined insurance details"
            },
            "ClaimsHistory": {
              "type": "string",
              "description": "Claims history"
            },
            "Travel_startDate": {
              "type": "string",
              "format": "date",
              "description": "Travel start date (YYYY-MM-DD)"
            },
            "Travel_endDate": {
              "type": "string",
              "format": "date",
              "description": "Travel end date (YYYY-MM-DD)"
            },
            "AccidentalDeathLimit": {
              "type": "number",
              "description": "Accidental death coverage limit",
              "enum": [
                10000,
                20000,
                30000,
                40000,
                50000
              ]
            },
            "AccidentalDeath_Taken": {
              "type": "boolean",
              "description": "Whether Accidental Death coverage is taken (true/false)"
            }
          },
          "allOf": [
            {
              "oneOf": [
                {
                  "properties": {
                    "TripDelay_Taken": {
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "TripDelayLimit"
                  ]
                },
                {
                  "properties": {
                    "TripDelay_Taken": {
                      "enum": [
                        false
                      ]
                    }
                  }
                }
              ]
            },
            {
              "oneOf": [
                {
                  "properties": {
                    "FlightDelay_Taken": {
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "FlightDelayLimit"
                  ]
                },
                {
                  "properties": {
                    "FlightDelay_Taken": {
                      "enum": [
                        false
                      ]
                    }
                  }
                }
              ]
            },
            {
              "oneOf": [
                {
                  "properties": {
                    "TripCancellation_Taken": {
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "TripCancellationLimit"
                  ]
                },
                {
                  "properties": {
                    "TripCancellation_Taken": {
                      "enum": [
                        false
                      ]
                    }
                  }
                }
              ]
            }
          ]
        },
        "TravelQuotationResponse": {
          "type": "object",
          "required": [
            "traveller",
            "policy_startDate",
            "policy_endDate",
            "Travel_startDate",
            "Travel_endDate",
            "coverages"
          ],
          "properties": {
            "traveller": {
              "type": "object",
              "required": [
                "InsuredAge",
                "InsuredGender",
                "InsuredSName",
                "TotalNoOfPersonsTravelling",
                "CountryOfVisit"
              ],
              "properties": {
                "InsuredAge": {
                  "type": "integer"
                },
                "InsuredGender": {
                  "type": "string"
                },
                "InsuredSName": {
                  "type": "string"
                },
                "TotalNoOfPersonsTravelling": {
                  "type": "integer"
                },
                "CountryOfVisit": {
                  "type": "string"
                }
              }
            },
            "policy_startDate": {
              "type": "string",
              "format": "date"
            },
            "policy_endDate": {
              "type": "string",
              "format": "date"
            },
            "Travel_startDate": {
              "type": "string",
              "format": "date"
            },
            "Travel_endDate": {
              "type": "string",
              "format": "date"
            },
            "coverages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "coverageName": {
                    "type": "string"
                  },
                  "Premium": {
                    "type": "number"
                  },
                  "tax": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    }
  }