{
    "openapi": "3.0.1",
    "info": {
        "title": "AzureDevOps ticket management",
        "description": "create/update/delete tickets in Azure DevOps",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://eastus2euap.api.azureml.ms/workflows/v1.0/test"
        }
    ],
    "paths": {
        "/mock": {
            "post": {
                "description": "Create a ticket",
                "operationId": "create_ticket",
                "parameters": [
                    {
                        "name": "response",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "{ \"ticketId\": \"12345\" }"
                        }
                    },
                    {
                        "name": "contentType",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTicketRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTicketRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTicketResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTicketResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CreateTicketRequest": {
                "type": "object",
                "properties": {
                    "issueDescription": {
                        "type": "string",
                        "nullable": false
                    }
                },
                "additionalProperties": false
            },
            "CreateTicketResponse": {
                "type": "object",
                "properties": {
                    "ticketId": {
                        "type": "string",
                        "nullable": false
                    }
                },
                "additionalProperties": false
            }
        }
    }
}
